<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServ</servlet-name>
        <servlet-class>CourseServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServ</servlet-name>
        <servlet-class>view.AddServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>view.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlett</servlet-name>
        <servlet-class>controler.CourseServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CServlet</servlet-name>
        <servlet-class>com.mywebapp.servlets.CServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CServlett</servlet-name>
        <servlet-class>CServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CServlettt</servlet-name>
        <servlet-class>CServlettt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourServlet</servlet-name>
        <servlet-class>CourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ss</servlet-name>
        <servlet-class>ss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sss</servlet-name>
        <servlet-class>sss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServ</servlet-name>
        <url-pattern>/CourseServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServ</servlet-name>
        <url-pattern>/AddServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlett</servlet-name>
        <url-pattern>/CourseServlett</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CServlet</servlet-name>
        <url-pattern>/CServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CServlett</servlet-name>
        <url-pattern>/CServlett</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CServlettt</servlet-name>
        <url-pattern>/CServlettt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourServlet</servlet-name>
        <url-pattern>/CourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ss</servlet-name>
        <url-pattern>/ss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sss</servlet-name>
        <url-pattern>/sss</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
